<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h1>Dane do logowania</h1>
            </div>
            <div class="panel-body">
                <form action="/loginUser" method="post">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email"/>
                    </div>

                    <div class="form-group">
                        <label for="password">Hasło</label>
                        <input type="password" class="form-control" id="password" name="password"/>
                    </div>

                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>