<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>XD Sklep z winami</title>

    <link rel="stylesheet" href="../styles/style.css" type="text/css">
</head>
<img src="../images/Logo_XD.jpg">

<body>
<div id="nav-placeholder">
</div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
    $(function(){
        $("#nav-placeholder").load("navigationBar.html");
    });
</script>

<div id="text1">
    <p>
        <iframe src="../otherFiles/about-us.txt" frameborder="0" height="400" width="95%"></iframe>
    </p>
</div>

</body>
</html>