<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>XD Sklep z winami</title>

            <link rel="stylesheet" href="../styles/style.css" type="text/css">
        </head>
        <img src="../images/Logo_XD.jpg">
        <form>
        </form>
<body>
<header>
</header>
<div id="nav-placeholder">
</div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
    $(function(){
        $("#nav-placeholder").load("navigationBar.html");
    });
</script>
</body>
</html>