<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie do sklepu</title>
</head>
<body>

<form>
    <label for="email">E-mail</label>
    <input id="email">
    <br>
    <label for="password">Hasło</label>
    <input id="password" type="text">
    <br>
    <button type="submit">Zaloguj</button>
</form>
<br>
<div id="nav-placeholder">
</div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
    $(function(){
        $("#nav-placeholder").load("navigationBar.html");
    });
</script>
</body>
</html>