<table id="navigation1">
    <tr>
        <th>
            <a href="index.html">Home</a>
        </th>
    <tr/>
    <tr>
        <th>
            <a href="about_us.html">O nas</a>
        </th>
    </tr>
</table>
<table id="navigation2">
    <caption style="font-family: 'Arial Black' " >Wina</caption>
    <tr>
        <th>
            <a href="pink_wine.html">Różowe</a>
        </th>
    <tr/>
    <tr>
        <th>
            <a href="red_wine.html">Czerwone</a>
        </th>
    <tr/>
    <tr>
        <th>
            <a href="white_wine.html">Białe</a>
        </th>
    </tr>
</table>
<table id="log-bar">
    <tr>
        <th>
            <a href="user/log-in-form.html">Zaloguj</a>
        </th>
    <tr/>
    <tr>
        <th>
            <a href="registration-form.html">Zarejestruj</a>
        </th>
    </tr>
</table>