<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<form>
    <label>
        id:
        <input name="id" placeholder="id" type="text">
        <input type="submit">
    </label>

    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        <tr>
            <
            <td></td>
        </tr>
    </table>

    <p>Get your products <a href="/showProducts">here</a></p>
    <p>add Product here <a href="/addProduct">here</a></p>
</form>
</body>
</html>